
<% if false %>
  <!-- While merging the speaker and user models we disable the actions for now -->
  <!-- TODO: Re-enable when the merge is complete and once the user profile is ready -->
  <%= ui_button url: edit_profile_path(speaker), kind: :neutral, size: :sm, data: {turbo_frame: "modal"} do %>
    <%= fa :pen, size: :xs %>
    <span>Update my profile</span>
  <% end %>
<% end %>
