<% if event.cfp_link.present? && event.cfp_close_date.present? %>
  <% cfp_days = (event.cfp_close_date - Date.current).to_i %>

  <% if event.cfp_open_date.present? && event.cfp_open_date > Date.current %>
    <% cfp_open_days = (event.cfp_open_date - Date.current).to_i %>

    <div class="flex flex-col justify-center">
      <div class="self-end w-16 h-16 bg-blue-500 text-white rounded-xl flex flex-col items-center justify-center text-xs leading-none">
        <div class="text-[10px]">CFP in</div>
        <div class="text-lg font-bold"><%= cfp_open_days %></div>
        <div class="text-[10px]"><%= "day".pluralize(cfp_open_days) %></div>
      </div>
    </div>

  <% elsif cfp_days >= 0 %>
    <div class="flex flex-col justify-center">
      <div class="self-end w-16 h-16 bg-green-500 text-white rounded-xl flex flex-col items-center justify-center text-xs leading-none">
        <div class="text-[10px]">CFP</div>

        <% if cfp_days == 0 %>
          <div class="text-[12px]">Last day!</div>
        <% elsif cfp_days == 1 %>
          <div class="text-[12px]">Tomorrow</div>
        <% else %>
          <div class="text-lg font-bold"><%= cfp_days %></div>
          <div class="text-[10px]"><%= "day".pluralize(cfp_days) %></div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
