<%= render partial: "header", locals: {event: @event} %>

<%= turbo_frame_tag dom_id(@event), data: {turbo_action: "advance", turbo_frame: "_top"} do %>
  <div class="container py-8">
    <%= render partial: "navigation", locals: {event: @event} %>
  </div>
<% end %>
