<div role="tablist" class="mb-12 tabs tabs-bordered">
  <% if sponsor.events.any? %>
    <a role="tab" class="tab tab-active">Supported Events</a>
  <% end %>

  <% if false %>
    <a role="tab" class="tab">Profile</a>
    <a role="tab" class="tab">Talks</a>
  <% end %>
</div>
