<div role="tablist" class="mb-12 tabs tabs-bordered">
  <% if sponsor.events.any? %>
    <%= link_to "Supported Events", sponsor_path(sponsor), role: "tab", class: "tab tab-active" %>
  <% end %>
</div>
