<div
  id="<%= id %>"
  class="flex items-center gap-2 cursor-pointer"
  data-controller="event tooltip"
  data-action="click->event#dispatchEvent"
  data-event-name-value="spotlight"
  data-tooltip-content-value="⌘ k">
  <%= fa("magnifying-glass", size: :sm, style: :regular) %>
  <div class="sr-only">Search</div>
</div>
